<div fxLayout="row wrap" fxLayoutAlign="space-around" class="container1" fxLayout.lt-md="column">
  <div fxFlex="0 1 48%" fxFlex.lt-md= "1 1 100%" class="">
      <div fxLayout="column"> 
          <span class="cl1">GROSS GRAPH</span>
          <hr class="hr1">
      </div>
      <div fxLayout="column" class="marTop"> 
          <fusioncharts width="100%" height="350" type="column2d" [dataSource]="dataSource">
          </fusioncharts>
      </div>
      <div fxLayout="column">
          <hr class="hr1">
      </div>
  </div>
</div>